.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills__container{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.skills__cards{
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 15px;
    /*overflow: hidden;*/
}
.skills__card{
    position: relative;
}
.skills__border {
    position: absolute;
    border: 4px solid var(--first-color);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 400ms;
}
.skills__card:hover .skills__border{
    transform: translate(10px, 10px);
}
.skills__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    background-color: var(--body-color);
    border: 4px solid var(--black-color);
    position: relative;
    z-index: 5;
}
.skills__icon{
    filter: invert(var(--zero-to-one-invert));
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}
.skills__title{
    font-size: var(--small-font-size);
}
@media screen and (max-width: 400px) {
    .skills__cards{
        grid-template-columns: repeat(2, 120px);
    }
}
@media screen and (min-width: 768px){
    .skills__cards{
        grid-template-columns: repeat(4, 120px);
    }
}
@media screen and (min-width: 1024px){
    .skills__cards{
        grid-template-columns: repeat(5, 150px);
        gap: 25px;
    }
    .skills__border {
        border: 5px solid var(--first-color);
    }
    .skills__content{
        width: 150px;
        height: 150px;
        border: 5px solid var(--black-color);
    }
    .skills__icon{
        width: 70px;
        height: 70px;
    }
    .skills__title{
        font-size: var(--normal-font-size);
    }
}
@media screen and (min-width: 1600px){
    .skills__cards{
        grid-template-columns: repeat(6, 150px);
    }
}
@media screen and (min-width: 1920px){
    .skills__cards{
        grid-template-columns: repeat(7, 150px);
    }
}
